<table>
  <tr>
    <td>
      <img src="{{this.currentImage}}" style="height:500px; width: 680px; padding:10px">

      <table>
        <tr class="row">
          <td class="column"><img (click)="changeImage('https://assets.machinerypete.com/uploads/image/processed_image/5972138/full_size_20337300_large_66177.jpg')"
              src="https://assets.machinerypete.com/uploads/image/processed_image/5972138/full_size_20337300_large_66177.jpg"
              alt="tractor" style="height:100px;"></td>
          <td class="column"><img (click)="changeImage('https://www.deere.co.uk/assets/images/region-2/products/tractors/large/9r-series/01_r2c012135_large_58dde237409ce62076610e303ce93b39b524faa4.png')"
              src="https://www.deere.co.uk/assets/images/region-2/products/tractors/large/9r-series/01_r2c012135_large_58dde237409ce62076610e303ce93b39b524faa4.png"
              alt="tractor" style="height:100px;"></td>
          <td class="column"><img (click)="changeImage('https://st.mascus.com/imagetilewm/product/johndeereus/john-deere-9520r,5836277-1.jpg')"
              src="https://st.mascus.com/imagetilewm/product/johndeereus/john-deere-9520r,5836277-1.jpg" alt="tractor"
              style="height:100px;"></td>
          <td class="column"><img (click)="changeImage('https://photos.machinefinder.com/68/5781468/27413634_huge.jpg')"
              src="https://photos.machinefinder.com/68/5781468/27413634_huge.jpg" alt="tractor" style="height:100px;"></td>
        </tr>
      </table>
    </td>
    <td valign="top">
      <h1 style="font-size:300%;">John Deere 9520R - Farmington, MN</h1>
      <h1>$350 per day</h1>
      <h2>Posted by: Johnny Appleseed</h2>
      <p style="font-size:130%;">Up for rent is my John Deere 9520R. This stallion has been my pride and joy for the
        past three years. She runs like a dream. Renter pays $350 per day, and she must be returned with a full tank.
        I like to get to know a person before sending them off with my machine, so please reach out so we can set up
        a time to meet. </p>
      <a href="/login">

        <div class="contact-button">
          <p>Contact</p>
      </div>
      </a>
      <a href="/login">

        <div class="rental-button">
          <p>Request Rental</p>
      </div>
      </a>

    </td>
  </tr>