<h1>Current Listings: Plant Seeding</h1>
<div class="filter-bar">
</div>

<div class="postings">
  <div class='tile'>
    <img class='tile-img' style="background-image: url(https://www.deere.com/assets/images/region-4/products/tractors/row-crop-tractors/6family-subgroup/7230r-r4d014778.jpg);" />
    <div class='tile-info'>
      <h1>John Deere 9200</h1>
      <h2>$188/Day</h2>
      <h2>Farmington, MN (.5 mi away)</h2>
    </div>
  </div>
  <div class='tile'>
    <img class='tile-img' style="background-image: url(https://www.deere.com/assets/images/region-4/products/tractors/row-crop-tractors/6family-subgroup/7230r-r4d014778.jpg);" />
    <div class='tile-info'>
      <h1>John Deere 9200</h1>
      <h2>$188/Day</h2>
      <h2>Farmington, MN (.5 mi away)</h2>
    </div>
  </div>
  <div class='tile'>
    <img class='tile-img' style="background-image: url(https://www.deere.com/assets/images/region-4/products/tractors/row-crop-tractors/6family-subgroup/7230r-r4d014778.jpg);" />
    <div class='tile-info'>
      <h1>John Deere 9200</h1>
      <h2>$188/Day</h2>
      <h2>Farmington, MN (.5 mi away)</h2>
    </div>
  </div>
</div>