<h1>Current Listings: Tractors</h1>
<div class="filter-bar">
</div>

<div class="postings">
  <a href="listing" style="text-decoration: none">
  <div class='tile'>
    <img class='tile-img' style="background-image: url(https://www.deere.com/assets/images/region-4/products/tractors/4-wheel-drive-tractors/4wd/9520r/9520r_r3c006121_large_ca3e2bf3111189505378a8c3e3831b940663d29a.jpg);" />
    <div class='tile-info'>
      <h1>John Deere 9520R</h1>
      <h2>$340/Day</h2>
      <h2>Farmington, MN (.5 mi away)</h2>
    </div>
  </div>
  </a>
  <a href="listing" style="text-decoration: none">
  <div class='tile'>
    <img class='tile-img' style="background-image: url(https://www.deere.com/assets/images/region-4/products/tractors/utility-tractors/3-family-compact-utility-tractor/3038e-2017/3038e_2017_r4g032901_large_249637d46a3f958ff373b72422a7233442858d77.jpg);" />
    <div class='tile-info'>
      <h1>John Deere 3038E</h1>
      <h2>$40/Day</h2>
      <h2>Jordan, MN (45 mi away)</h2>
    </div>
  </div>
  </a>
  <a href="listing" style="text-decoration: none">
  <div class='tile'>
    <img class='tile-img' style="background-image: url(https://www.deere.com/assets/images/region-4/products/tractors/utility-tractors/2-family-compact-utility-tractor/2038r/2038r_cut_studio_r4a067609_large_564acbe94b75c6f7806270d1645cc3b6711bdc78.jpg);" />
    <div class='tile-info'>
      <h1>John Deere 2038R</h1>
      <h2>$134/Day</h2>
      <h2>Minneapolis, MN (60.2 mi away)</h2>
    </div>
  </div>
  </a>
</div>
