<div class="banner">
  <a href="home">
    <img src="assets/images/tractor.png" style="width:100px; height:100px;">
  </a>
  <h1 style="display:inline; position: relative; top: 50%; transform:translateY(-50%); color:#367C2B;">Rent-A-Tractor</h1>
  <h3 style="float:right;">help: (952) 201-4661 | rentatractor@helpme.com</h3>
</div>

<div class="topnav">
  <a href="home">Home</a>
  <a href="equipment">Equipment</a>
  <a href="profile">Profile</a>
  <a href="recentsubmissions">Recent Submissions</a>

  <div class="topnav-right">
    <a href="login">Login</a>
    <a href="register">Register</a>
  </div>
</div>